Repository The-YeoJeong/YeoJeong, pull requests merged in 2022-07, with the labels that each got.

#12 Feature/signin markup
  .gitignore
  frontend/package.json
  frontend/src/assets/google.png
  frontend/src/assets/kakao.png
  frontend/src/assets/naver.png
  frontend/src/html/SignIn.html
  frontend/src/index.html
  frontend/src/js/app.js
  frontend/src/js/signIn.js
  frontend/src/scss/base/_default.scss
  frontend/src/scss/base/_index.scss
  frontend/src/scss/base/_reset.scss
  frontend/src/scss/components/_buttons.scss
  frontend/src/scss/components/_index.scss
  frontend/src/scss/index.scss
  frontend/src/scss/pages/_index.scss
  frontend/src/scss/pages/_signin.scss
  frontend/src/scss/utils/_color.scss
  frontend/src/scss/utils/_index.scss
  frontend/src/scss/utils/_unit.scss
  package-lock.json
  package.json
Labels: enhancement, html, frontend

#14 Feature/sign upmarkup
  frontend/src/html/SignIn.html
  frontend/src/html/SignUp.html
  frontend/src/js/app.js
  frontend/src/js/signUp.js
  frontend/src/scss/base/_default.scss
  frontend/src/scss/components/_buttons.scss
  frontend/src/scss/pages/_index.scss
  frontend/src/scss/pages/_sign.scss
Labels: enhancement, html, frontend

#15 audit fucn initial setting done
  backend/yeojeong/src/main/java/com/project/yeojeong/config/AuditConfig.java
  backend/yeojeong/src/main/java/com/project/yeojeong/config/AuditorAwareImpl.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MemberController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/entity/BaseEntity.java
  backend/yeojeong/src/main/java/com/project/yeojeong/entity/BaseTimeEntity.java
  backend/yeojeong/src/main/java/com/project/yeojeong/entity/Member.java
  backend/yeojeong/src/main/java/com/project/yeojeong/repository/MemberRepository.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/MemberService.java
  backend/yeojeong/src/main/resources/sql/jwt sql setting.sql
Labels: backend

#29 Feature/oauth
  backend/yeojeong/src/main/java/com/project/yeojeong/config/SecurityConfig.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MainController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MemberController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/OAuthController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/dto/MemberDto.java
  backend/yeojeong/src/main/java/com/project/yeojeong/dto/TestDto.java
  backend/yeojeong/src/main/java/com/project/yeojeong/jwt/TokenProvider.java
  backend/yeojeong/src/main/java/com/project/yeojeong/repository/MemberRepository.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/MemberService.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/OAuthService.java
Labels: backend

#35 Feature/signup
  .gitignore
  backend/yeojeong/src/main/java/com/project/yeojeong/config/CorsConfig.java
  backend/yeojeong/src/main/java/com/project/yeojeong/config/SecurityConfig.java
  backend/yeojeong/src/main/java/com/project/yeojeong/config/WebConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/html/SignIn.html
  frontend/src/html/SignUp.html
  frontend/src/index.js
  frontend/src/js/app.js
  frontend/src/js/signIn.js
  frontend/src/js/signUp.js
  frontend/src/js/validation.js
  frontend/src/scss/components/_buttons.scss
  frontend/src/scss/pages/_sign.scss
  frontend/webpack.config.js
  package-lock.json
  package.json
Labels: enhancement, html, js, frontend

#36 Feature/oauth google
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MemberController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/OAuthController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/OAuthService.java
  backend/yeojeong/src/main/resources/application.yml
Labels: backend

#38 Feature/header
  frontend/src/html/SignIn.html
  frontend/src/html/SignUp.html
  frontend/src/html/Write.html
  frontend/src/html/header.html
  frontend/src/index.js
  frontend/src/js/app.js
  frontend/src/js/header.js
  frontend/src/js/signIn.js
  frontend/src/js/signUp.js
  frontend/src/js/write.js
  frontend/src/scss/layout/_header.scss
  frontend/src/scss/pages/_sign.scss
  frontend/src/scss/utils/_color.scss
Labels: enhancement, html, sass, js, frontend

#40 Feature/write
  frontend/src/html/Write.html
  frontend/src/index.html
  frontend/src/js/write.js
  frontend/src/scss/components/_buttons.scss
  frontend/src/scss/layout/_index.scss
  frontend/src/scss/layout/_layout.scss
  frontend/src/scss/pages/_index.scss
  frontend/src/scss/pages/_write.scss
Labels: enhancement, html

#45 Feature/my page
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MainController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/controller/MyPageController.java
  backend/yeojeong/src/main/java/com/project/yeojeong/dto/PostDto.java
  backend/yeojeong/src/main/java/com/project/yeojeong/entity/Post.java
  backend/yeojeong/src/main/java/com/project/yeojeong/repository/CommentRepository.java
  backend/yeojeong/src/main/java/com/project/yeojeong/repository/HeartRepository.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/PostService.java
  backend/yeojeong/src/main/java/com/project/yeojeong/specification/PostSpecification.java
Labels: backend

#46 Feature/my page
  backend/yeojeong/src/main/java/com/project/yeojeong/service/PostService.java
Labels: backend
