Repository The-YeoJeong/YeoJeong, pull requests merged in 2022-08, with the labels that each got.

#49 covy testcase + image source file path fix
  backend/yeojeong/src/main/java/com/project/yeojeong/dto/PostDto.java
  backend/yeojeong/src/main/java/com/project/yeojeong/service/ImageService.java
  backend/yeojeong/src/test/java/com/project/yeojeong/auth/JwtTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/auth/MemberTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/comment/CommentServiceTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/heart/HeartServiceTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/post/PostServiceTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/post/mainTest.java
  backend/yeojeong/src/test/java/com/project/yeojeong/post/myPageTest.java
Labels: backend

#51 ✨feat: map -ing
  frontend/src/html/Write.html
  frontend/src/index.html
  frontend/src/js/write.js
  frontend/src/scss/pages/_write.scss
Labels: html, sass, js, frontend

#53 Feature/main
  frontend/src/html/Mypage.html
  frontend/src/html/Write.html
  frontend/src/html/main.html
  frontend/src/js/header.js
  frontend/src/js/main.js
  frontend/src/js/mypage.js
  frontend/src/js/post.js
  frontend/src/js/write.js
  frontend/src/scss/base/_reset.scss
  frontend/src/scss/layout/_layout.scss
  frontend/src/scss/pages/_index.scss
  frontend/src/scss/pages/_main.scss
  frontend/src/scss/pages/_mypage.scss
  frontend/src/scss/pages/_write.scss
Labels: html, sass, frontend

#58 Feature/write
  frontend/src/html/SignIn.html
  frontend/src/html/Write.html
  frontend/src/index.html
  frontend/src/js/main.js
  frontend/src/js/map.js
  frontend/src/js/post.js
  frontend/src/js/signIn.js
  frontend/src/js/validation.js
  frontend/src/js/write.js
  frontend/src/scss/components/_buttons.scss
  frontend/src/scss/pages/_sign.scss
  frontend/src/scss/pages/_write.scss
Labels: html, js, frontend

#60 mypage done without css
  backend/yeojeong/src/main/java/com/project/yeojeong/service/PostService.java
  backend/yeojeong/src/main/resources/application.yml
  frontend/src/html/Mypage.html
  frontend/src/js/mypage.js
  frontend/src/scss/pages/_mypage.scss
Labels: frontend

#63 Feature/detail
  frontend/src/html/Detail.html
  frontend/src/js/detail.js
  frontend/src/js/main.js
  frontend/src/js/map.js
  frontend/src/js/post.js
  frontend/src/js/write.js
  frontend/src/scss/pages/_detail.scss
  frontend/src/scss/pages/_index.scss
Labels: html, js, frontend

#67 Feature/detail
  frontend/src/html/Detail.html
  frontend/src/js/detail.js
  frontend/src/js/main.js
  frontend/src/js/post.js
  frontend/src/scss/pages/_detail.scss
  frontend/src/scss/pages/_mypage.scss
Labels: enhancement, js, frontend

#69 Feature/detail
  frontend/src/html/edit.html
  frontend/src/js/app.js
  frontend/src/js/detail.js
  frontend/src/js/edit.js
  frontend/src/js/post.js
  frontend/src/scss/base/_default.scss
  frontend/src/scss/pages/_detail.scss
Labels: js
